.header1-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fbfbfb;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header1-left-container {
    display: flex;
    align-items: center;
    gap: 20px; /* Adjust the gap between the two sections */
}

.header1-section {
    display: flex;
    align-items: center;
}

.header1-logo {
    width: 50px;
    margin-right: 10px;
}

.header1-text h1 {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.header1-text h2 {
    font-size: 14px;
    margin: 0;
}


.header1-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header1-time {
    font-size: 14px;
    font-weight: 500;
    color: #333;
}

.font-controls {
    display: flex;
    gap: 5px;
}

.font-btn {
    font-size: 14px;
    padding: 5px 10px;
    background: none;
    border: 1px solid #ccc;
    cursor: pointer;
    color: #007bff;
    border-radius: 4px;
}

.font-btn.active {
    background-color: red;
    color: yellow;
    border: 1px solid red;
}

.language-dropdown-container {
    position: relative;
}

.language-dropdown option:disabled {
    color: gray;
    cursor: not-allowed;
}

.tooltip {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    margin-left: 10px; /* Add spacing between the dropdown and tooltip */
    background: black;
    color: white;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
    white-space: nowrap;
}
